.menu_style{

}

.fa{
	
	
	
	color:blue;
}

.navbar-toggler{
	
	outline:none !important;
	
}

.home{
	
	
	width:100%;
	height:400px;
}

.home h2{
	
	display:flex;
	
	justify-content:center;
	
	align-items:center;
	
	padding:100px;
	
	
	
}